h2,
h3 {
  text-align: center;
}

.content {
  width: 80%;
  margin: 0 auto;
}

header {
  color: #fff;
  background-color: rgb(0, 0, 0, 0.85);
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Game of Thrones", serif;
}

.loading {
  text-align: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
}

.emoji {
  font-size: 1.25em;
}

.house-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.house {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  margin-bottom: 32px;
}

.house:nth-of-type(odd) {
  margin-right: 4%;
}

.house:nth-of-type(even) {
  margin-left: 4%;
}

.member-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.member-list .no-members {
  text-align: center;
  width: 100%;
}

.member-list .member {
  width: 100%;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.2);
  min-height: 48px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.member-list .member:not(:last-of-type) {
  margin-bottom: 16px;
}

.member-list .member h4,
.member-list .member p {
  display: inline;
}

.member-list .member .died {
  margin-left: 12px;
}

.xtiny {
  font-size: 8px;
  color: rgba(0, 0, 0, 0.45);
}


@media screen and (max-width: 767px) {
  .content {
    width: 95%;
  }

  .house-list {
    flex-direction: column;
    align-items: center;
  }

  .house:nth-of-type(odd) {
    margin-right: 0;
  }

  .house:nth-of-type(even) {
    margin-left: 0;
  }

  .house {
    margin-bottom: 16px;
    max-width: 500px;
  }
}

@media screen and (max-width: 600px) {}